.sneakers {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-top: 2rem;
}
.right,
.left {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.sneakers {
		flex-direction: column;
		width: 100%;
	}
	.left .right {
		width: 100%;
	}
}
